* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
h1 {
  margin:1em 0 1em 0;
}
.container {
  display: flex;
  box-sizing: border-box;
  border-top: solid lightgray;
  border-bottom: solid lightgray;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: red;
  margin: 8px;
}
.navbtns {
  display: flex;
  width: 40vw;
  justify-content: space-evenly;
}
.btn {
  font-size: 20px;
  /* margin: 0 auto; */
}